<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <!-- Navigation only (top-right) -->
  <header class="nav-header">
    {% include "_navigation.html" %}
  </header>

  <section>
    <header>
      {% block header %}{% endblock header %}
    </header>

    <main>
      {% block content %}{% endblock content %}
    </main>
  </section>
</body>
</html>