[MASTER]
ignore=__pycache__,docs,conf.py
ignore-patterns=.*\.json,.*\.log
init-hook='import sys; from pathlib import Path; sys.path.insert(0, str(Path(".").resolve()))'
jobs=1
reports=no

[MESSAGES CONTROL]
disable=
    missing-function-docstring,
    missing-class-docstring,
    duplicate-code

[FORMAT]
max-line-length=100