{% extends "base.html" %}

{% block title %}Contact{% endblock title %}

{% block header %}
  <h2>Contact</h2>
{% endblock header %}

{% block content %}
  <ul class="contact-list">
    <li>Email: <a href="mailto:drziran@protonmail.com">drziran@protonmail.com</a></li>
    <li>Website: <a href="https://www.drziran.com" target="_blank">https://www.drziran.com</a></li>
    <li>LinkedIn: 
      <a href="https://www.linkedin.com/in/navid-ziran-md-facs-02897524b" target="_blank">
        https://www.linkedin.com/in/navid-ziran-md-facs-02897524b
      </a>
    </li>
  </ul>
{% endblock content %}