name: GradCafe Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: gradcafe
          POSTGRES_USER: ziran
          POSTGRES_PASSWORD: ziran
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U ziran"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r module_4/requirements.txt

      - name: Run tests
        env:
          DATABASE_URL: postgresql://ziran:ziran@localhost:5432/gradcafe
          PGPASSWORD: ziran
        run: |
          cd module_4
          pytest -m "web or buttons or analysis or db or integration"